teachbooks==0.2.3
sphinx_apa_references==1.0
jupyter-book==1.0.4
jupyterquiz==2.8.*
matplotlib
numpy
sparqlkernel
ipywidgets==8.1.7
pandas==2.3.3
numpy==2.2.6
opencv-python==4.13.0.92
pympi-ling==1.71
tqdm==4.68.3
torch==2.14.0
onnxruntime-gpu==1.22.0
onnxruntime==1.22.0
insightface==1.0.1
transnetv2-pytorch==1.0.5
opencv-python==5.0.0.93
static-ffmpeg==3.0
altair==6.0.0